In [1]:
#十分钟入门 Pandas

In [2]:
import numpy as np
import pandas as pd

In [3]:
#1.生成对象
#用值列表生成 Series 时，Pandas 默认自动生成整数索引：
s=pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
#用含日期时间索引与标签的 NumPy 数组生成 DataFrame:
dates=pd.date_range('20191213',periods=6)
dates

DatetimeIndex(['2019-12-13', '2019-12-14', '2019-12-15', '2019-12-16',
               '2019-12-17', '2019-12-18'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2019-12-13 -0.366523  0.303493  0.168593  0.041746
2019-12-14 -1.150550  1.490830 -0.705832  1.936260
2019-12-15 -0.023350 -1.988696 -0.058567 -0.952337
2019-12-16  0.033115 -0.091996 -1.506671  0.021688
2019-12-17  0.330812 -0.403927  0.154072  0.381570
2019-12-18 -0.535029 -0.066645  0.624251  0.276936

In [6]:
#用 Series 字典对象生成 DataFrame:
df2=pd.DataFrame({'A':1.,
                  'B':pd.Timestamp('20191213'),
                  'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'D':np.array([3]*4,dtype='int32'),
                  'E':pd.Categorical(["test","train","test","train"]),
                  'F':'foo'})
df2

     A          B    C  D      E    F
0  1.0 2019-12-13  1.0  3   test  foo
1  1.0 2019-12-13  1.0  3  train  foo
2  1.0 2019-12-13  1.0  3   test  foo
3  1.0 2019-12-13  1.0  3  train  foo

In [8]:
#DataFrame 的列有不同数据类型
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
#2.查看数据

SyntaxError: invalid syntax (<ipython-input-10-f1b2de343abf>, line 2)